/*  TEST STYLING */
.test {
    border: 5px solid red;
}

/*  NAVIGATION BAR */

#nav-bar {
    height: 15%;
    width: auto;
    background-color: #1E56A7;
    color: white;
    margin-top: 0;
    padding-top: 0;
}

#nav-bar h1 {
    margin: 0;
    padding: 25px;
}


/*  MAIN CONTENT */

#main-content {
    margin-top: 5%;
}


input {
    width: 50px;
}


/* MEDIA QUERIES */


/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    
    .raffle-numbers {
        font-size: 15px;
        margin-top: 100px;
    }
}
