/*  TEST STYLING */
.test {
    border: 5px solid red;
}

/*  NAVIGATION BAR */

#nav-bar {
    height: 15%;
    width: auto;
    background-color: #1E56A7;
    color: white;
    margin-top: 0;
    padding-top: 0;
}

#nav-bar h1 {
    margin: 0;
    padding: 25px;
}


/*  MAIN CONTENT */

#main-content {
    margin-top: 10%;
}


input {
    width: 50px;
}